doctype html
html
  head
    link(type='text/css', rel='stylesheet', href='/site.css')
    |     
    title Hello
  body
    h1 Suppliers List
    ul 
      li
        | #{found.id}
      li
        | #{found.category}
      li
        | #{found.company}
      li
        | #{found.about}
      li
        | #{found.web}
      li
        | #{found.type}
      li
        | #{found.address}
      li
        | #{found.country}
      li
        | #{found.phone}
      li
        | #{found.fax}
      li
        | #{found.contactperson}
      li
        | #{found.designation}
      li
        | #{found.email}
      li
        | #{found.logo}
      li
        | #{found.year}
      li
        | #{found.employees}
      li
        | #{found.turnover}
      li
        | #{found.source}
